{% extends "base.html" %}

{% block content %}
<h1>Добавление события</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.title.label }}<br>
        {{ form.title(class="form-control") }}<br>
        {% for error in form.title.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.time.label }}<br>
        {{ form.time(class="form-control") }}<br>
        {% for error in form.time.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.activity_type.label }}<br>
        {{ form.activity_type(class="form-control") }}<br>
        {% for error in form.activity_type.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.mood.label }}<br>
        {{ form.mood(class="form-control") }}<br>
        {% for error in form.mood.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.music.label }}<br>
        {{ form.music(class="form-control") }}<br>
        {% for error in form.music.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
{% endblock %}